

.box, .box-nested{
    padding: 15px;
    background-color: #006cfa;
    color: white;
    text-align: center;
    border: 1px solid white;
    height: 100%;
    min-height: 50px;
}

.box-nested{
    background-color: #00e165;
    border: 1px solid #006cfa;    
}

.sky{
    background-color: rgb(125, 222, 252);
}

.red, .blue, .skin{
    border: 0;
    position: relative;
}

.red{
    background-color: brown;
}

.blue{
    background-color: rgb(43, 30, 155);
}

.skin{
    background-color: rgb(219, 182, 78);
}

[class *= 'col-']{
    height: calc(80vw /12);
    min-height: 50px;
}
