body{

}

.box, .box-nested{
    padding: 15px;
    background-color: #006cfa;
    color: white;
    text-align: center;
    border: 1px solid white;
    height: 100%;
    min-height: 50px;
}

.box-nested{
    background-color: #00e165;
    border: 1px solid #006cfa;    
}
